/* Css Reset User Agent Stylesheet */

* {
	margin: 0;
	padding: 0;
	transition: .3s ease-in-out
}

/* Common Stylings */

a, span {
	text-decoration: none;
	display: inline-block;
}

p, span { color: #ccc; }
li { list-style-type: none; }
img { width: 100%; }
html { scroll-behavior: smooth; }
.tribute { text-align: center; }

figcaption { 
	margin-top: 15px;
	text-align: center; 
}

/* Body Stylings */

body {
	background: #000;
	color:#fff;
	font-family: sans-serif;
}

/* Wrapper */
.wrapper {
	width: 80%;
	margin: 0 auto;
	max-width: calc(2250px - 20%);
}

header  { 
	position: fixed; 
	top: 50%;
	right: -162px;
	transform: translateY(-50%);
	z-index: 5;
}

header:hover { right: 0; }

nav {
	padding: 15px;
	background: #000;
	position: relative;
}

nav li { padding: 15px 0; }

nav span {
	padding: 5px;
	position: absolute; 
	top: 50%;
	left: -32px;
	font-size: 25px;
	transform: translateY(-50%);
}

nav a {
	font-size: 22px;
	font-variant: small-caps;
	font-weight: 600;
	letter-spacing: 1px;
}

/* Banner */

.banner {
	position: relative;
	background: #000;	
}

.banner-info {
	position: absolute;
	top: 50%;
	left: 0;
	right:0;
	transform: translateY(-50%);
	z-index: 2;
	text-align: center;
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 150px;
}

h1+p {
	margin-top: 60px;
	font-family: 'Montez', cursive;
	font-size: 50px;
}

h1,
h3,
h1+p,
nav a,
strong,
nav span,
footer p,
.banner a,
figcaption, 
blockquote p,
.tribute-link a,
header nav span,
.about-info span {
	background: -webkit-linear-gradient(#ffc857, #3e2f5b);
	background: -o-linear-gradient(#ffc857, #3e2f5b);
	background: linear-gradient(#ffc857, #3e2f5b );
	background-clip: text;
	-webkit-background-clip: text;	
	-webkit-text-fill-color: transparent; 
}

.banner a  {
	padding: 10px 15px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 25px;
	border-radius: 50%;
	z-index: 2;
}

.video-container { opacity: 0.2; }

video {
	width: 100%;
	height: auto;
	max-height: 100vh;
}

/* About and Testimonial */

.about .wrapper,
.testimonial .wrapper {
	padding: 150px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

blockquote, 
.about-info,
.about figure,
.testimonial figure {
	flex: 0 1 45%;
}

.about figure, .testimonial figure {
	position: relative;
}

.about figure::after,
.about figure::before {
	content: "";
	position: absolute;
	bottom: -30px;
	left: -30px;
}

.about figure::after {
	right: -3px;
	height: 2px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffc857), to(#3e2f5b));
	background-image: -webkit-linear-gradient(left, #ffc857, #3e2f5b);
	background-image: -moz-linear-gradient(left, #ffc857, #3e2f5b);
	background-image: -o-linear-gradient(left, #ffc857, #3e2f5b);
}

.about figure::before {
	top: -3px;
	width: 2px;
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#ffc857), to(#3e2f5b));
	background-image: -webkit-linear-gradient(#3e2f5b, #ffc857);
	background-image: -moz-linear-gradient(#3e2f5b, #ffc857);
	background-image: -o-linear-gradient(#3e2f5b, #ffc857);
}

.testimonial figure::before,
.testimonial figure::after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: -30px;	
}

.testimonial figure::before {
	top: -3px;
	width: 2px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffc857), to(#3e2f5b));
	background-image: -webkit-linear-gradient(bottom, #ffc857, #3e2f5b);
	background-image: -moz-linear-gradient(bottom, #ffc857, #3e2f5b);
	background-image: -o-linear-gradient(bottom, #ffc857, #3e2f5b);
}

.testimonial figure::after {
	left: -3px;
	height: 2px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc857), to(#3e2f5b));
	background-image: -webkit-linear-gradient(left, #3e2f5b, #ffc857);
	background-image: -moz-linear-gradient(left, #3e2f5b, #ffc857);
	background-image: -o-linear-gradient(left, #3e2f5b, #ffc857);
}

.about img, .testimonial img { border-radius: 20%; }

/* .about figure::before { left: -30px; }
.testimonial figure::after { right: -30px; } */

.tribute h3,
blockquote p, 
.about-info h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
}

cite,
.about-info p { font-family: 'Montez', cursive; }

.about-info span,
.tribute-link h3 { 
	font-family: 'Great Vibes', cursive;
	font-size: 35px; 
}

.about-info p {
	margin-top: 30px;
	font-size: 30px;
}

cite { 
	color: #ccc; 
	font-size: 30px;
}

/* Tribute */

.tribute .wrapper { padding: 80px 0; }

.tribute ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.tribute li {
	margin: 5% 0 0;
	flex: 0 1 30%;
	position: relative;
	overflow: hidden;
}

.tribute li:last-child { display: none; }

.content {
	position: absolute;
	bottom: -100%;
	background: rgba(0, 0, 0, 0.9);
	transition: .5s ease;
}

.tribute span {
	font-family: 'Montez', cursive;
    font-size: 20px;
}

.tribute strong {
	display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.tribute ul figure { 
	background: -webkit-linear-gradient(#ffc857, #3e2f5b);
	background: -o-linear-gradient(#ffc857, #3e2f5b);
	background: linear-gradient(#ffc857, #3e2f5b ); 
	border-radius: 50%;
}

.tribute img { height: 500px; }

/* Tribute Link */

.tribute-link h3 { 
	color: #ccc;
    background: none;
    -webkit-text-fill-color: initial;
    text-align: center;
}

/* Footer */

footer { 
	margin-top: 80px; 
	position: relative;
}

footer figure {
	width: 100%;
	height: auto;
}

footer p {
	text-align: center; 
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

footer figure img { max-height: 100vh; }	

@media screen and (min-width:1024px) {

	/* Tribute */

	.tribute li:hover .content { bottom: 0; }

	/* Footer */
	
	footer figure img {  
		-webkit-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: .9s ease-in-out;
	}	
	
	 footer figure img:hover {
		 -webkit-filter: grayscale(0);
		 -o-filter: grayscale(0);
		 filter: grayscale(0);
	}

}

@media screen and (max-width: 1023px) {
	
	/* Wrapper */

	.wrapper { width: 88%; }
	
	/* Banner */

	h1 { font-size: 90px; }
	h1 + p { 
		font-size: 40px;
		margin-top: 40px; 
	}
	
	.tribute li:nth-child(n+6) {
		display: none;
	}

	/* About */

	.about .wrapper,
	.testimonial .wrapper { flex-direction: column; }

	.about-info,
	.testimonial figure { 
		margin-top: 100px;
		text-align: center;
	}
	.about figure { padding-bottom: 50px; }

	/* Tribute */

	.tribute ul { flex-direction: column; }
	.tribute li:last-child { display: flex; } 
	.tribute img { height: 300px; }
	.tribute li { 
		margin-top: 10%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.tribute li:nth-child(2n+2) .content{
		order: -1;
	}

	.content { position: static; }

	.tribute figure,
	.content { flex: 0 1 45%; }

	/* Testimonial */

	.testimonial { text-align: center; }

	/* About, Tribute, Testionial */

	.about .wrapper, 
	.tribute .wrapper { padding: 50px 0;}
	
	.testimonial .wrapper { padding: 50px 0 0;}
	
	.tribute-link .wrapper { padding: 100px 0;}

	.about-info span, 
	.tribute-link h3 { font-size: 30px; }

	.about figure::before,
	.testimonial figure::before { display: none; }

	.testimonial figure::after { top: -50px; }

	.about figure::after,
	.testimonial figure::after {
		left: 25%;
		right:25%;
	}

	/* Footer */ 

	footer { margin-top: 0;}
}

@media screen and (max-width: 768px) {
	
	/* Tribute */

	.tribute ul figure { width: 280px; }
	.tribute li { flex-direction: column; }
	.tribute li:nth-child(2n+2) .content { order: 0; }
	.tribute h3, blockquote p, .about-info h3 { font-size: 40px; }
	.content { margin-top: 30px; }
}

@media screen and (max-width:414px) {

	/* Banner */
	h1 { font-size: 70px; }
	
	h1 + p { 
		margin-top: 15px;
		font-size: 30px;
	}

}